 @font-face { font-family: Radikal; font-weight: 100; src: url('https://simple-acces.github.io/ricoh/typos/Nootype-RadikalThin.otf'); }
 @font-face { font-family: Radikal; font-weight: 300; src: url('https://simple-acces.github.io/ricoh/typos/Nootype-RadikalLight.otf'); }
 @font-face { font-family: Radikal; src: url('https://simple-acces.github.io/ricoh/typos/Nootype-Radikal.otf'); }
 @font-face { font-family: Radikal; font-weight: 600; src: url('https://simple-acces.github.io/ricoh/typos/Nootype-RadikalMedium.otf'); }
 @font-face { font-family: Radikal; font-weight: bold; src: url('https://simple-acces.github.io/ricoh/typos/Nootype-RadikalBold.otf'); }
 @font-face { font-family: Radikal; font-weight: 900; src: url('https://simple-acces.github.io/ricoh/typos/Nootype-RadikalBlack.otf'); }
 @font-face { font-family: Radikal; font-style: italic; src: url('https://simple-acces.github.io/ricoh/typos/Nootype-RadikalLightItalic.otf'); }
